:root{
    background-color: powderblue;
}


li{
    padding-bottom: 3px;
    color: black; 
    text-align:center;
    flex-wrap: wrap;
}
    
p{
    color: gray;
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    font-size: xx-large;
    position: absolute;
    top: 200px;
}
    

h2{
    font-family: sans-serif;
    margin-top: -.5rem;
    font-size: medium;
    position: relative;
}

input{
    text-align: center;
}
    
.container {
    flex-wrap: wrap;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1500px;
    top: -50%;   
}
    
button {
    display: inline;
    font-family: sans-serif;
    background-color: blanchedalmond;
    border: 3px double #cccccc;
    color:  black;
    text-align: center;
    font-size: small;
    padding: 20px;
    width: 150px;
    margin-top: 4px;
}
    
    
#startPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

#timer {
    font-size: large;
    background-color: black;
    color: white;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 100px;
    margin-right: 50px;
}

ul {
    margin-right: 150px;
    position: static;
}

#question {
    margin-right: 50px;

}


#codeQuiz {
    display: none;
    position: static;
    margin-left: 20px;

    flex-wrap: wrap;
}
    
#result {
    display: none;
}
    
#gameover {
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
}
    
#highScore{
    height: 1.5rem;
    border: groove 2px;
}


#scorePage {
    display: none;
    width:75%;
    border:thick;
    border-color: turquoise;
    background-color: powderblue;
    padding-bottom: 10px;
}

    
    
#scorePageheader{
    display:flex;
    justify-content: space-around;
    border-bottom-style: outset;
    margin-bottom: .5rem;
    background-color: wheat;
    color: black;
    font-family: sans-serif;
    flex-wrap: flex;
}

#scoreContainer{
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    
#initials{
    margin: .5rem;
    height: 1.75rem;
}
    
#scoreInitials{
    display: inline-block;
    padding-left: 9.5rem;
    font-family: sans-serif;
    font-weight: bold;
}
    
#recentScore{
    float: right;
    padding-right: 150px;
    font-family: sans-serif;
    font-weight: bold;
}
    
#finScore{
    padding-bottom: 10px;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bold;
}
    
#endGameButtons{
    display: none;
}

#answerButton {
    position: absolute;
}

